body{

  background-color: linen;


}


#nameHead{
text-align:center;
color:red;
}

#item1{


margin-left: 1%;

border-style:solid;
border-radius:10px;

padding-top:5px;
padding-right:10px;
padding-left:10px;
padding-bottom:5px;
background-color:darkgrey;
cursor:pointer;

}


#linkSite{

  text-align: center;
  border-style: solid;
  padding-top:5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 25px;
  cursor: pointer;
  color: rgb(228, 62, 62);
  border-width: 7px;
  font-weight: 900;
  background-color: rgb(184, 184, 184);

}












