#nameHead{
text-align:center;
color:red;
}

#item1{


margin-left: 1%;

border-style:solid;
border-radius:10px;

padding-top:5px;
padding-right:10px;
padding-left:10px;
padding-bottom:5px;
background-color:darkgrey;
cursor:pointer;





}





.wrapper {
  display: grid;
  grid-template-columns: 10px 10px 10px 10px;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
















